<html xmlns:th="http://www.thymeleaf.org">


    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/member/join}"  method="post">

        <div class="mb-3">
            <label class="form-label">사용자ID</label>
            <input type="text" name="username" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호 확인</label>
            <input type="password" name="password2" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">이메일</label>
            <input type="email"name="email" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">별명</label>
            <input type="text" name="nickName" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>