<html xmlns:th="http://www.thymeleaf.org">

<script>
        function password_check(form){
            var password22 = "[[${password}]]";
            var password = "9999"

            if ( password != document.getElementsByName('old_password'); ) {
                alert("현재 비밀번호가 일치하지 않습니다.");
                form.old_password.focus();
                return false;
            }

;

           var pw1 = document.getElementsByName( "new_password" );
           var pw2 = document.getElementsByName( "new_password2" );

              if (pw1! = pw2 ) {
                alert("입력하신 새로운 비밀번호와 일치하게 입력해주세요.");
                form.new_password.focus();
                return false;
                }
        }
</script>

<script>
      function test(form) {
        var pw1 = document.getElementsByName( "new_password" );
        var pw2 = document.getElementsByName( "new_password2" );
        console.log(pw1);
        console.log(pw2);
        if ( pw1 != pw2 ) {
          alert( 'Confirm Password!' );
          return false;
        }
         return false;
      }
    </script>

<script>
      function jbSubmit() {
        var pw1 = document.getElementsByName( "new_password" );
        var pw2 = document.getElementsByName( "new_password2" );
        if ( pw1 !== pw2 ) {
          alert( 'Confirm Password!' );
          return false;
        }
        return true;
      }
    </script>

<div class="my-3 border-bottom">
    <div>
        <h4>비밀번호 정보 수정</h4>
    </div>
</div>
<form th:action="@{/member/modifyPassword}"  method="post" onsubmit="return jbSubmit();">
    <div class="mb-3">
        <label class="form-label">현재 비밀번호</label>
        <input type="password" name="old_password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">새 비밀번호</label>
        <input type="password" name="new_password" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">새 비밀번호 확인</label>
        <input type="password" name="new_password2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">수정완료</button>
</form>
</div>
</html>